
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.form{
    background-color: aqua;
}

.label-control{
    @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
}

.form-control{
    @apply appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 !important;
}

.inline-block {
  display: inline-block !important;
}

.select2-selection{
    height: 35px !important;
}

.btn-search {
    padding-top: 8px;
    padding-right: 35px;
    padding-left: 35px;
    border: 1px solid rgb(34 197 94 / var(--tw-bg-opacity));
    border-radius: 5px;
}

.btn-base {
    padding-top: 8px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 5px;
}

.select2-container--default .select2-selection--single {

    border: 1px solid #aaa;
    border-radius: 4px;
    margin-bottom: 0.75rem !important;
    display: block !important;

    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: 0.25rem !important;
    border-width: 1px !important;
    --tw-border-opacity: 1 !important;
    border-color: rgb(229 231 235 / var(--tw-border-opacity)) !important;
    --tw-bg-opacity: 1 !important;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity)) !important;
    padding-bottom: 0.75rem !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    line-height: 1.25 !important;
    --tw-text-opacity: 1 !important;
    color: rgb(55 65 81 / var(--tw-text-opacity)) !important;

}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-top: 4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
}

option{

    text-transform: capitalize;
}

.material-icons .orange600 { color: #FB8C00; }

.none{
    display:none !important;
}


.bg-blue-134a5b {
    background-color: #134a5b;
}

.o-left{
    position: absolute;
    left: 0;
    background-color: #134a5b;
}

/* Toggle A */
input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }

  /* Toggle B */
  input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }

.d-none {
    display:none;
}
